{# atelier3 #}
{# <h1>c'est la page de l'auteur <font color ="red">{{author.username}}</font> </h1>
<p>Son email est: {{author.email}} <br>
nb_book :{{author.nb_books}}</p>
<img src="{{author.picture}}" > #}

{# atelier4 #}
<table>
<tr>
<td>{{author.id}}</td>
<td>{{author.username}}</td>
{# <td>{{author.email}}</td> #}
</tr>
</table>